body {
    margin: 0px;
    padding: 0px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*头布局*/

header img {
    height: 50px;
    margin-left: 20px;
}
header nav {
    float: right;
    height: 60px;
    line-height: 60px;
}
header nav ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin: 0 12px;
}
header nav ul li a {
    color: #fff;
    font-size: 13px;
}

/*文章*/

article, aside {
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 1px 1px 2px 1px #848484;
}
article h2 {
    color: rgb(111, 111, 111);
}
article h3 {
    color: #808080;
    font-size: 16px;
}
.author, .publishTime {
    font-size: 12px;
    line-height: 30px;
    color: rgb(124, 108, 101);
}
article p {
    text-indent: 2em;
    font-size: 14px;
    line-height: 1.5em;
}
article ul li {
    list-style-type: none;
}
.imgLuffy {
    width: 100px;
    height: 100px;
}
article figure span {
    text-align: center;
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}
article figure {
    margin: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
}
.beautifulImgContainer {
    margin-left: 20px;
    display: inline-block;
}
table tr th {
    color: #fff;
    text-align: left;
    background-color: #333;
}
table tfoot {
    background: #ccc;
}

/*侧边栏*/

aside h4 {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-left: 3px solid #ccc;
}
aside table {
    table-layout: fixed;
    border-spacing: 15px;
}
.tableTitle {
    text-align: right;
    vertical-align: top;
}
.promptInfo {
    color: #aaa;
    margin-top: 9px;
}
#submitButton {
    width: 100%;
    height: 40px;
    font-size: 19px;
    color: #fff;
    background-color: #128fdc;
    border: none;
    border-radius: 10px;
}
#submitButton:hover {
    background-color: #0063dc;
}

/*
遇到的问题：定位问题。

目前使用百分比宽度来定位，很明显不准确。
当浏览器缩小时，main就会被absolute遮住


修改后使用calc()函数计算宽度，但依然：
当浏览器缩小时，main就会被absolute遮住。参考re_task005.css来处理。

index.css里面让main标签margin-right了aside宽度，呵呵，这样还不错。犀利，直接这样写。不考虑适配问题么。

综合了一下优秀的前两个的，re_task005写的不错。嘿嘿。

*/


/*侧边栏处理*/

header {
    min-width: 600px;
    background: rgb(50, 51, 52);
    height: 60px;
    /*position: fixed;固定定位，效果不好
    top: 0px;*/
    width: 100%;
}
main {
    float: left;
    min-width: 300px;
    width: calc(100% - 390px);
}
aside {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 360px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 1px 1px 2px 1px #848484;
}

/*页脚*/

footer {
    /*清除浮动，学了一遍 10steps*/
    clear: both;
    background-color: #000;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    line-height: 60px;
    font-size: 15px;
    color: #fff;
}
